@font-face {
  font-family: 'Andora Modern Serif';
  src:url('AndoraModernSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif
}

body{
  margin: 0;
  background-color: #f8f4f0;
}

/* navbar */

.navbar{
  padding: 4vh 10vw;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  display: inline-block;
  padding: 0 18px;
}

li, a, span{
  color: #505050;
  text-decoration: none;
  font-size: 1.15em;
  font-weight: 400;
}

li a span{
  font-weight: 800;
  font-size: 1.25em;
}


.hero span{
  color: #505050;
  font-weight: 800;
}

h1{
  font-family: 'Andora Modern Serif';
  font-size: 5em;
  font-weight: normal;
  color: #505050;
}