@font-face {
  font-family: 'Andora Modern Serif';
  src:url('AndoraModernSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif
}

body{
  margin: 0;
  background-color: #f8f4f0;
}

/* navbar */

.navbar{
  padding: 4vh 10vw;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  display: inline-block;
}

li, a, span{
  color: #505050;
  text-decoration: none;
  font-size: 1.15em;
  font-weight: 300;
}

li a span{
  font-weight: 700;
  font-size: 1.25em;
}




/* hero */
.hero{
  padding: 6vh 10vw;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header img{
  height: 4vw;
}

h1{
  font-family: 'Andora Modern Serif';
  font-size: 4vw;
  font-weight: normal;
  color: #505050;
  margin: 1.25vw 0 0;
}

.hero p{
  font-size: 1.8vw;
  color: #505050;
  font-weight: 300;
  padding: 7vh 10vw;
  text-align: center;
}

.hero p > span{
  font-size: 1em;
  font-weight: 700;
}

/* moon */

.downloadcv img{
  height: 90vh;
  left: 30%;
  position: absolute;

}